* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-gradient {
		background: linear-gradient(
			268deg,
			#ffd177 18.42%,
			#ffa1a3 37.36%,
			#d18fe9 78.78%,
			#d18fe9 80.07%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: all 0.3s ease;
		animation: textGradient2 0.3s ease forwards;
		&:hover {
			animation: textGradient 1.75s ease forwards;
		}
	}
	.scroll {
		&::-webkit-scrollbar {
			width: 4px;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: linear-gradient(
				360deg,
				#ffd177 18.42%,
				#ffa1a3 37.36%,
				#d18fe9 78.78%,
				#d18fe9 80.07%
			);
			border-radius: 8px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: linear-gradient(
				360deg,
				#d18fe9 18.42%,
				#d18fe9 37.36%,
				#d18fe9 78.78%,
				#d18fe9 80.07%
			);
		}
	}
}

@layer utilities {
	@keyframes textGradient {
		0% {
			background-size: 100%;
		}
		40% {
			background-size: 180%;
		}
		100% {
			background-size: 250%;
		}
	}
	@keyframes textGradient2 {
		0% {
			background-size: 180%;
		}
		100% {
			background-size: 100%;
		}
	}
	.form-input {
		@apply w-full rounded-lg border border-gray-300 px-[14px] py-[10px] shadow-sm shadow-gray-300 outline-4 outline-offset-0 outline-[#f4ebff] transition-all duration-200 placeholder:text-gray-500 focus:border-[#d9bffb] focus:placeholder-gray-300 focus:outline focus:placeholder:text-gray-300 focus:placeholder:transition-all focus:placeholder:duration-300;
	}
	.form-input_black {
		@apply max-w-[284px] border-[#2d2f32] bg-[#2d2f32] text-gray-300 shadow-none placeholder:text-[#ffffff99];
	}
	.gradient-chevron {
		@apply relative h-[30px] w-4 before:absolute before:left-[5px] before:top-[2px] before:h-[16px] before:w-1 before:rotate-[135deg] before:rounded before:bg-gradient-to-t before:from-gradient-3 before:to-gradient-1 before:content-[''] after:absolute after:bottom-[2px] after:left-[5px] after:h-[16px] after:w-1 after:-rotate-[135deg] after:rounded after:bg-gradient-to-b after:from-gradient-3 after:to-gradient-1 after:content-[''];
	}
	.checkbox {
		@apply relative flex h-[18px] w-[18px] items-center justify-center rounded-sm border border-gray-300 has-[:checked]:border-0 has-[:checked]:bg-gradient-to-r has-[:checked]:from-gradient-1 has-[:checked]:from-10% has-[:checked]:via-gradient-2 has-[:checked]:via-[37.36%] has-[:checked]:to-gradient-3 has-[:checked]:to-[80%] has-[:checked]:before:absolute has-[:checked]:before:left-[0.25rem] has-[:checked]:before:top-1/2 has-[:checked]:before:block has-[:checked]:before:h-[6px] has-[:checked]:before:w-[2px] has-[:checked]:before:-translate-y-[1px] has-[:checked]:before:translate-x-[1px] has-[:checked]:before:rotate-[-45deg] has-[:checked]:before:rounded-md has-[:checked]:before:bg-[#fff] has-[:checked]:before:content-[''] has-[:checked]:after:absolute has-[:checked]:after:right-[5px] has-[:checked]:after:top-[3px] has-[:checked]:after:block has-[:checked]:after:h-[0.75rem] has-[:checked]:after:w-[2px]  has-[:checked]:after:rotate-[40deg] has-[:checked]:after:rounded-md has-[:checked]:after:bg-[#fff] has-[:checked]:after:content-[''];
	}
}
