* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.home-first-section-bg {
		background-position: -196px 40px;
		background-size: 744px;
	}
	.gradient {
		background: linear-gradient(
			268deg,
			#ffd177 18.42%,
			#ffa1a3 37.36%,
			#d18fe9 78.78%,
			#d18fe9 80.07%
		);
		position: relative;
		z-index: 1;
		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(
				268deg,
				#d18fe9 18.42%,
				#d18fe9 37.36%,
				#d18fe9 78.78%,
				#d18fe9 80.07%
			);
			transition: opacity 0.5s ease-out;
			z-index: 2;
			opacity: 0;
		}
		&:hover::before {
			opacity: 1;
		}
	}
	.text-gradient {
		background: linear-gradient(
			268deg,
			#ffd177 18.42%,
			#ffa1a3 37.36%,
			#d18fe9 78.78%,
			#d18fe9 80.07%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: all 0.3s ease;
		&:hover {
			animation: textGradient 1.75s ease forwards;
		}
	}
	.scroll {
		&::-webkit-scrollbar {
			width: 4px;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: linear-gradient(
				360deg,
				#ffd177 18.42%,
				#ffa1a3 37.36%,
				#d18fe9 78.78%,
				#d18fe9 80.07%
			);
			border-radius: 8px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: linear-gradient(
				360deg,
				#d18fe9 18.42%,
				#d18fe9 37.36%,
				#d18fe9 78.78%,
				#d18fe9 80.07%
			);
		}
	}
}

@layer utilities {
	@keyframes textGradient {
		0% {
			background-size: 100%;
		}
		40% {
			background-size: 180%;
		}
		100% {
			background-size: 250%;
		}
	}
}
